/* BACKGROUND COLORS THEME*/
.green {
    color: #009688;
}

.green-light {
    color: #52C7B8;
}

.green-dark {
    color: #00675B;
}

.purple {
    color: #8E24AA;
}

.purple-light {
    color: #C158DC;
}

.purple-dark {
    color: #5C007A;
}

/* BACKGROUND COLORS THEME*/
.bg-white {
    background-color:#FFFFFF;
}
.bg-green {
    background-color: #009688;
}

.bg-green-light {
    background-color: #52C7B8;
}

.bg-green-dark {
    background-color: #00675B;
}

.bg-purple {
    background-color: #8E24AA;
}

.bg-purple-light {
    background-color: #C158DC;
}

.bg-purple-dark {
    background-color: #5C007A;
}