<h1 class="text-center text-purple mt-3"><span class="fa fa-amazon"></span></h1>
<h3 class="text-center text-purple text-logo">Ads</h3>
<p class="text-center text-purple text-logo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
<hr class="bg-purple" />