
@{
    ViewData["Title"] = "Lockout";
}

<h3 class="text-center text-purple"><span class="fa fa-amazon fa-2x"></span></h3>
<h2 class="text-center text-purple text-logo">Ads</h2>
<p class="text-center text-purple text-logo">Esta conta foi bloqueada por exceder as tentativas de login, por favor tente mais tarde</p>

<hr class="bg-purple" />

