
@{
    ViewData["Title"] = "Lockout";
}

@section beforecontainer{
    @Html.Partial("~/Views/_HeaderLogo.cshtml")
}


<h4 class="text-center">
    Esta conta foi bloqueada por exceder as tentativas de login, por favor tente mais tarde
</h4>
