
<div class="row justify-content-center mt-4">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="card bg-green-light shadown-green-dark">
            <div class="card-body p-2">
                <div class="row justify-content-end">
                    <div class="col-12 col-xl-6">
                        <form>
                            <input type="text" class="form-control" placeholder="Pesquisar" />
                        </form>
                    </div>
                </div>
         
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-12 col-lg-10 col-xl-8 mt-2">
        <div class="card  shadown-green-dark">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-6 col-xl-3">
                        <form>
                            <select class="form-control">
                                <option selected="selected" value="">Ordernar por</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-6 col-xl-9">
                        <div class="pull-right">
                            <div class="btn-group-toggle">
                                <span>fadsfsadf</span>
                                <button class="btn btn-purple"><span class="fa fa-chevron-left"></span></button>
                                <button class="btn btn-purple"><span class="fa fa-chevron-right"></span></button>
                            </div>
                        </div>
                  
                
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-12 col-lg-10 col-xl-8 mt-2">
        <div class="card shadown-green-dark">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-purple btn-lg pull-right">Inserir anúncio</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered mt-1">
                            <thead>
                                <tr class="bg-green-light">
                                    <th class="text-white">Criado em</th>
                                    <th class="text-white">Título</th>
                                    <th class="text-white">Descrição</th>
                                    <th class="text-white">Situação</th>
                                    <th class="text-white">Tipo</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>16/12/2017</td>
                                    <td>Vendo iphone novo na caixa</td>
                                    <td>faslçafjsadçlfjsa çlfajsdf asjçlffljasdçlf asldfjasld faslçdjf </td>
                                    <td>Publicado</td>
                                    <td>Gratuito</td>
                                    <td>
                                        <button class="btn btn-purple">Destaque-se</button>
                                    </td>
                                    <td>
                                        <a href="#"><span class="fa fa-edit"></span></a>
                                        <a href="#"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

     
    </div>
