<!DOCTYPE html>

@using AdProject.Infraestrutura.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - AdProject.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
        @*<link rel="stylesheet" href="~/lib/csshake/dist/csshake.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
        <script src="~/lib/vue/dist/vue.js" type="text/javascript"></script>
        @*<script src="~/lib/vue-resource/dist/vue-resource.js" type="text/javascript"></script>
        <script src="~/js/site.js"></script>*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/lib/csshake/dist/csshake.min.css"  asp-append-version="true"/>*@


        <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/vue/dist/vue.min.js" type="text/javascript" asp-append-version="true"></script>
        @*<script src="~/lib/vue-resource/dist/vue-resource.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/site.min.js" type="text/javascript" asp-append-version="true"></script>*@
    </environment>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-green shadown-green-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white ml-3" asp-controller="Site" asp-action="Index">
                <span class="fa fa-amazon fa-2x"></span>
            </a>
            <button class="navbar-toggler  text-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Contact">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Anuncio" asp-action="Index">Anúncios</a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Mensagens">
                            <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Index">
                                <span class="fa fa-envelope"></span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Chat">
                            <a class="nav-link text-white" asp-area="" asp-controller="Site" asp-action="Index"><span class="fa fa-comments"></span></a>
                        </li>
                        <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="Configurações">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-cogs"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item">
                                    <img src="~/images/bmw-2964072_1280.jpg" class="rounded mx-auto d-block" style="width:100px;" />
                                    <span>Cesar Mendes da Silva</span>
                                    <a href="#" class="btn-link-purple">Action</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="btn-link-purple">Another action</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a href="#" class="btn-link-purple">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="Usuário">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user-circle-o"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                                <li class="dropdown-header">
                                    <h3>Informação</h3>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-action="Index" asp-controller="Perfil" class="btn-link-purple">Meu perfil</a>
                                </li>
                                <li class="dropdown-item">
                                    <a asp-action="TrocarSenha" asp-controller="Conta" class="btn-link-purple">Alterar senha</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a asp-action="Sair" asp-controller="Conta" class="btn-link-purple">Sair&nbsp;<span class="fa fa-sign-out"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Conta" asp-action="Logoff" data-toggle="tooltip" data-placement="bottom" title="Sair"><span class="fa fa-sign-out"></span></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Conta" asp-action="Entrar">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Conta" asp-action="Cadastro">Cadastro</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div id="test" class="container-fluid" style="min-height:70vh">
        @RenderBody()
    </div>

    <footer class="container-fluid mt-4">
        <div class="row bg-green border-green-dark">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h4 class="text-white mt-3">Aplicativos</h4>
                <hr class="bg-white" />
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-link text-white" href="https://play.google.com/">
                            <span class="fa fa-android fa-2x"></span> para android
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link text-white" href="https://www.apple.com/br/ios/app-store/">
                            <span class="fa fa-apple fa-2x"></span> para ios
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link text-white" href="https://www.microsoft.com/pt-br/store/b/home">
                            <span class="fa fa-windows fa-2x"></span> para windows
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h4 class="text-white mt-3">Nossos canais</h4>
                <hr class="bg-white" />
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-link text-white" href="https://facebook.com">
                            <span class="fa fa-facebook-official fa-2x"></span> facebook.com/empresa
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link text-white" href="https://twitter.com">
                            <span class="fa fa-twitter fa-2x"></span> twitter.com/empresa
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-link text-white" href="https://instagram.com">
                            <span class="fa fa-instagram fa-2x"></span> instagram.com/empresa
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h4 class="text-white mt-3">Links úteis</h4>
                <hr class="bg-white" />
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h4 class="text-white mt-3">Contato</h4>
                <hr class="bg-white" />
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">empresa@empresa.com</a></li>
                    <li><span class="text-white">(11) 1111-1111</span></li>
                    <li><span class="text-white">(22) 2222-2222</span></li>
                </ul>
            </div>
        </div>
        <div class="row bg-green-dark">
            <div class="col-xl-12 text-center">
                <span class="text-white font-weight-light">
                    &copy; 2018 -  todos os direitos reservados - Empresa X - 000.000.000/0000-00 - Rua Carlos Silva, 290 - Sala 51A - Chácara California -  São Paulo/SP
                </span>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        })
                //var vue = new Vue({
                //    el: '#test',
                //    mounted: function () {
                //        Vue.http.get('/Site/Index').then(function (response) { console.log(response) }, function (error) { console.log(error) });
                //    }
                //});
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
